{{#x-card
  title='Register with Chatty'}}
  <div class="row">
    {{x-input
      type='email'
      label='Email'
      value=(mut model.email)}}
  </div>
   <div class="row">
    {{x-input
      type='text'
      label='First Name'
      value=(mut model.firstName)}}
  </div>
  <div class="row">
    {{x-input
      type='text'
      label='Last Name'
      value=(mut model.lastName)}}
  </div>
  <div class="row">
    {{x-input
      type='text'
      label='Username'
      value=(mut model.username)}}
  </div>
  <div class="row">
    {{x-input
      type='password'
      label='Password'
      value=(mut model.password)}}
  </div>
  <div class="row">
    {{x-input
      type='password'
      label='Confirm Password'
      value=(mut model.passwordConfirmation)}}
  </div>
  <div class="row">
    <button {{action 'register'}}>Register</button>
  </div>
{{/x-card}}
