{{#x-card
  title='Register'}}
  <div class="row">
    {{x-input
      class="col-xs-12"
      type='email'
      label='Email *'
      value=(mut model.email)
      errors=model.errors.email}}
  </div>
   <div class="row">
    {{x-input
      class="col-xs-12"
      type='text'
      label='First Name'
      value=(mut model.firstName)
      errors=model.errors.firstName}}
  </div>
  <div class="row">
    {{x-input
      class="col-xs-12"
      type='text'
      label='Last Name'
      value=(mut model.lastName)
      errors=model.errors.lastName}}
  </div>
  <div class="row">
    {{x-input
      class="col-xs-12"
      type='text'
      label='Username *'
      value=(mut model.username)
      errors=model.errors.username}}
  </div>
  <div class="row">
    {{x-input
      class="col-xs-12"
      type='password'
      label='Password *'
      value=(mut model.password)
      errors=model.errors.password}}
  </div>
  <div class="row">
    {{x-input
      class="col-xs-12"
      type='password'
      label='Confirm Password *'
      value=(mut model.passwordConfirmation)
      errors=model.errors.passwordConfirmation}}
  </div>
  <div class="row">
    {{#x-button
      class="col-xs-12"
      isSecondary=true
      onClick=(action 'register')}}Register{{/x-button}}
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-6 m-t-sm">
      {{#link-to 'auth.login' local-class="link"}}I have an account{{/link-to}}
    </div>
    <div class="col-xs-12 col-sm-6 m-t-sm">
      <a local-class="link" href="#">Terms &amp; Conditions</a>
    </div>
  </div>
{{/x-card}}
